@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #ffffff;
  /* background: #000000; */
  background: linear-gradient(180.96deg, #000000 0.82%, #4A2800 129.1%);
}

.container {
  width: 100%;
  max-width: 1220px;
  margin: 0 auto;
  padding: 15px;
}

.grayColor{
  color: rgba(255, 255, 255, 0.11);
}